[Unit]
Description=UnityConsole USB cartridge installer (%I)
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ucon-usb-install %I
